body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: rgb(255, 246, 246);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10x;
}

button {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}